/* use an ash color background  */
.bg-ash{
    background-color: #D9D7F1;
}
/* use an light ash color background  */
.bg-light-ash{
    background-color: #d4dfc8d8;
}

#parcentage-value{
    width: 54px;
}

@media (max-width: 400px){
    #parcentage-value, #savings{
        width: 54px;
    }
}